.person-msg {
  min-height: 600px;
  *height:600px !important;
  overflow: hidden;}
  .person-msg .msg-title {
    margin-top: 32px; }
    .person-msg .msg-title .title-ico {
      width: 5px;
      height: 30px;
      background: #00a5ed;
      border-radius: 2px;
      float: left;
      margin-right: 11px; }
    .person-msg .msg-title .title-font {
      font-family: 'Microsoft YaHei';
      font-size: 24px;
      color: #333;
      float: left;
      margin-top: -9px; }
    .person-msg .msg-title .title-line {
      width: 808px;
      height: 1px;
      float: right;
      background: #ddd;
      margin-top: 15px; }
  .person-msg .person-list {
    width: 100%;
    margin-top: 36px; }
    .person-msg .person-list td, .person-msg .person-list th {
      border: 1px solid #ddd;
      text-align: center;
      vertical-align: middle;
      padding: 4px;
      font-family: 'SimSun';
      font-size: 12px;
      color: #333;
      line-height: 40px;
      height: 40px; }
    .person-msg .person-list .checking, .person-msg .person-list .passing, .person-msg .person-list .notPass {
      width: 16px;
      height: 17px;
      display: block;
      float: left;
      margin-top: 12px;
      margin-left: 6px; }
    .person-msg .person-list .pass-font {
      color: #1db40d; }
    .person-msg .person-list .checking {
      background-position: 0px -231px; }
    .person-msg .person-list .passing {
      background-position: -18px -231px; }
    .person-msg .person-list .notPass {
      background-position: -36px -232px; }
    .person-msg .person-list .notPass-font {
      color: #ff0000; }
    .person-msg .person-list .cancer {
      width: 17px;
      height: 18px;
      display: block;
      margin: 9px 5px 0px 6px; }
    .person-msg .person-list .cancer {
      background-position: -72px -231px;
      float: left; }
    .person-msg .person-list .cancer:hover {
      background-position: -95px -231px; }
    .person-msg .person-list .loading {
      float: left;
      display: block;
      width: 16px;
      height: 16px;
      background-position: -54px -231px;
      margin: 13px 3px 0px 16px; }
    .person-msg .person-list .deail a {
      color: #333; }
    .person-msg .person-list .deail span {
      float: left; }
    .person-msg .person-list .deail .cancer-bt {
      display: block;
      float: left; }
    .person-msg .person-list .deail .cancer-bt:hover {
      color: #00a5ed; }
    .person-msg .person-list .limit-leg {
      display: block;
      width: 74px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center; }

.paglist {
  margin: 35px 0px; }
  .paglist a {
    border-radius: 3px;
    display: block;
    float: left; }
  .paglist .pre-list, .paglist .nxt-list {
    width: 58px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ddd;
    color: #333;
    background: #eee;
    text-align: center; }
  .paglist .nxt-list {
    margin-left: 10px; }
  .paglist .data-list {
    text-align: center;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #eee;
    border: 1px solid #ddd;
    color: #333;
    margin-left: 10px; }
  .paglist .data-listA {
    background: #006bc4;
    border: 1px solid #006bc4;
    color: #fff; }
  .paglist .list-dot {
    text-align: center;
    margin-left: 10px;
    color: #333; }

.pop-alert {
  width: 319px;
  height: 159px;
  border: 1px solid #c2c2c2;
  box-shadow: 0px 0px 3px #ededed;
  background: #fff; }

.confir-msg {
  width: 100%;
  text-align: center;
  font-family: 'SimSun';
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-top: 50px; }

.bt {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 40px; }
  .bt .cancer-btm, .bt .confirm-btm {
    width: 78px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    display: inline-block;
    border-radius: 3px; }
  .bt .confirm-btm {
    background: #006bc4;
    border: 1px solid #006bc4;
    color: #fff;
    margin-left: 20px; }
  .bt .cancer-btm {
    background: #eee;
    border: 1px solid #ddd;
    color: #333; }


/* .msg-auth */
.paglist {
  overflow: hidden;
}
.msg-auth {
    padding: 40px 0 0;
    font-size: 14px;
}

.msg-controls,
.msg-line,
.msg-label {
    float: left;
}

.msg-line {
    margin-bottom: 12px;
    margin-right: 10px;
}

.msg-label {
    width: 60px;
    margin-right: 10px;
    text-align: right;
    line-height: 36px;
}

.msg-input {
    width: 200px;
    height: 26px;
    line-height: 26px;
    padding: 5px 10px;
    
    border: 1px solid #ddd;
}
.msg-input:disabled,input.msg-input[disabled] {
  border: 1px solid #f4f9f8;
  background-color: #f4f9f8;
}
.msg-error {
  color: #ff1313;
  padding-top: 8px;
  display: none;
}

.msg-btn {
    border: none;
    width: 120px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    background: #eee;
    border: 1px solid #ddd;
    color: #666;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    float: left;
}

.msg-btn-blue {
    border: 1px solid #00a5ed;
    background: #00a5ed;
    color: #fff;
}

.msg-file {
    position: absolute;
    left: 0;  
    top: 0; 
    height: 36px;
    opacity: 0;
    filter: opacity(0);
}

.msg-edit {
  display: none;
}

.uploadify {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 12px;
}
.uploadify-queue,.fileName,#progress2 {
  display: none;
}
.swfupload {
  position: absolute;
  left: 0;
}